# --- layout: category_docker title: "CLASS A" search: exclude categories:
["nlp", "architectures"] sub_category: ["classa"] post_types: "category_docker"
date: rank: published_year: author: author_full: keywords: summary: ---

<div>
  <h2><i>{{ page.title }}</i></h2>
  <ul class="posts">
    {% assign pageCategories = page.categories | concat: page.sub_category |
    join: "-" %}
    <!-- if this post is either a category, or a post -->
    {% for post in site.pages %}
    <!-- assign -->
    {% if post.sub_category.first %}
    <!-- for loop -->
    {% assign postCategories = post.categories | concat: post.sub_category |
    join: "-" %}
    <!-- if the post have same category class with that of page -->
    {% if pageCategories == postCategories %} {% if post.post_types !=
    "category_docker" %}

    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      / {{ post.published_year }} / {{ post.author }} / {{ post.rank }} / {{
      post.date }}
    </li>
    {% endif %} {% endif %} {% endif %} {% endfor %}
  </ul>
</div>
